/* Mobile Device  */
@media (max-width:767px) and (min-width:641px) {
    .wrap {
        padding: 20px 0px;
    }

    .navbar ul {
        gap: 15px;
    }

    .navbar ul li a {
        font-size: 16px;
        padding: 5px 3px;
    }
}



@media (max-width:640px) {

    /* header section  */
    .wrap {
        flex-direction: column;
        gap: 20px;
    }

    .logo h2 {
        font-size: 25px;
    }

    .navbar ul li a {
        font-size: 15px;
    }


    /* hero section  */
    .hero-content {
        padding-top: 190px;

    }

    .hero-info h1 {
        font-size: 30px;
    }

    .text-font {
        font-size: 16px;
    }

    .hero-info p {
        font-size: 15px;
    }

    .btn {
        flex-direction: column;
        gap: 10px;
    }

    .btn-1 {
        font-size: 10px;
    }

    .btn-2 {
        font-size: 15px;
    }

    .hero-info ul li a {
        font-size: 20px;
    }

    /* about skills  */
    .about-skills {
        padding-top: 70px;
    }

    .similar {
        font-size: 20px;
    }

    .grid-content {
        grid-template-columns: 1fr;

    }

    .boxes {
        grid-template-columns: 1fr;
    }

}