* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.padding {
    padding: 80px 0;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

ul li {
    list-style: none;
}

/* header section  */
.header-section {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    background: rgba(2, 53, 221, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
    width: 100%;
    /* z-index: 5; */
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.logo h2 {
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(221, 2, 250), rgb(124, 89, 180));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.navbar ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}



.navbar ul li:first-child a {
    color: #f3bc09;
}

.navbar ul li:first-child a:hover {
    color: rgb(52, 216, 19);
}

.navbar ul li:first-child a:active {
    color: red;
}


.navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(221, 217, 221);
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 7px;
    transition: all .5s ease-in-out;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a:hover,
.navbar ul li a:active {
    cursor: pointer;
    color: rgb(53, 253, 4);
    border-color: black;
}

.navbar ul li a:active {
    color: red;
}


/* hero section  */
.hero-section {
    background-image: linear-gradient(90deg, rgb(3, 2, 56), rgb(73, 70, 218));
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 270px;
}

.hero-info > * {
    margin-bottom: 30px;
}

.hero-info h1 {
    font-size: 40px;
    background: linear-gradient(to right, rgb(201, 5, 240), rgb(236, 196, 252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-font {
    color: white;
    font-size: 18px;
}

.hero-info p {
    color: rgb(202, 201, 201);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-1 {
    padding: 10px 20px;
    /* width: 130px; */
    min-width: 130px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    background-image: linear-gradient(90deg, rgb(59, 57, 177), rgb(116, 31, 128));
    color: white;
}

.btn-1:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(238, 93, 9), rgb(170, 240, 6));
    color: rgb(253, 252, 252);
}

.btn-1:active {
    background-image: linear-gradient(90deg, rgb(57, 212, 174), rgb(147, 187, 36));
}
.btn-2 {
    padding: 10px 20px;
    /* width: 130px; */
    min-width: 130px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color: rgb(129, 125, 125);
}

.btn-2:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(238, 93, 9), rgb(170, 240, 6));
    color: rgb(253, 252, 252);
}

.btn-2:active {
    background-image: linear-gradient(90deg, rgb(57, 212, 174), rgb(147, 187, 36));
}


.hero-info ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hero-info ul li {
    list-style: none;
}

.hero-info ul li a {
    color: white;
    font-size: 25px;
}

.hero-info ul li a:hover {
    color: #04f704e0;
}

.hero-info ul li a:active {
    color: #e20b0be0;
}


/* about skills  */
.about-skills {
    background-image: linear-gradient(90deg, rgb(3, 2, 56), rgb(73, 70, 218));
    padding-top: 170px;
}

.similar {
    text-align: center;
    color: rgb(72, 173, 231);
    font-size: 30px;
    margin-bottom: 40px;
}

.About {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
    padding-bottom: 130px;
}


.description > * {
    margin-bottom: 30px;
}

.description p {
    color: rgb(180, 176, 176);

}

.skills h4 {
    color: rgb(20, 167, 212);
    font-size: 20px;
    margin-bottom: 30px;
}

.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.item {
    padding: 10px 15px;
    min-width: 150px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(5, 5, 95);
    color: rgb(177, 169, 169);
}

.item:hover {
    background-image: linear-gradient(90deg, rgb(145, 201, 13), rgb(73, 70, 218));
    color: white;
}


/* project section  */
.project-section {
    background-color: #210f7c;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 10px;
    box-sizing: border-box;
}

.box {
    margin-top: 10px;
    padding-bottom: 10px;
    max-width: 585px;
    width: 100%;
    background-color: rgb(15, 5, 100);
    border-radius: 15px;
    border: 1px solid rgb(143, 139, 139);
    box-sizing: border-box;
}

.box > * {
    margin-bottom: 10px;
}

.box img {
    max-width: 585px;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 20px;
    object-fit: cover;
}

.box > *:not(img) {
    margin-left: 20px;
}

.text-primary h3 {
    color: rgb(48, 117, 182);
}

.text-primary p {
    color: rgb(160, 155, 155);
}

.btn-btn {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-btn button {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #3272bb;
    border: none;
    color: rgb(245, 243, 243);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.btn-btn button:hover {
    background-color: green;
}

.project-links {
    display: flex;
    gap: 10px;
}

.project-links button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: rgb(160, 155, 155);
}

/* blog section  */
.blog-section {
    background-color: #5a46be;
}

.date {
    display: flex;
    gap: 10px;
}

.date button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(168, 163, 163);
}

.read-more button {
    background-color: transparent;
    border: none;
    color: #227de6;
    font-size: 15px;
    cursor: pointer;
}

.view-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* email-subscription section  */
.email-subscription-section {
    background-color: #210f7c;
}

.subscription-content {
    text-align: center;
}

.text {
    font-size: 25px;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.subscription-content > *:not(.similar) {
    margin-bottom: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.email-address input {
    width: 300px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

.email-address input[type="email"] {
    font-size: 18px;
}
.subscribe-btn button {
    width: 150px;
    padding: 14px 15px;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(59, 57, 177), rgb(116, 31, 128));
    color: white;
    border: none;
    border-radius: 5px;
}

.subscribe-btn button:hover {
    cursor: pointer;
    background-image: linear-gradient(90deg, rgb(238, 93, 9), rgb(170, 240, 6));
    color: rgb(253, 252, 252);
}

.subscribe-btn button:active {
    background-image: linear-gradient(90deg, rgb(57, 212, 174), rgb(147, 187, 36));
}

.subscription-content .text-2 {
    color: rgb(201, 198, 198);
}

/* contact-section  */
.contact-section {
    background-color: #3272bb;
}

.contact-content > *:not(.similar) {
    margin-bottom: 20px;
}
.contact-content {
    text-align: center;
}

.contact .space {
    padding: 12px 15px;
    border-radius: 30px;
    font-size: 19px;
}

.contact,
.contact ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact ul li {
    padding: 11px;
    background-color: rgb(14, 56, 194);
    /* background-color: red; */
    border-radius: 50%;
    color: white;
    font-size: 20px;
    transition: all .5s ease-in-out;
}

.contact ul li:hover {
    background-color: rgb(16, 189, 54);
}
.contact ul li a {
    color: white;
}

/* footer */
.footer {
    background-color: #210f7c;
    padding: 20px;
}

.footer p {
    color: rgb(180, 178, 178);
    text-align: center;
}